* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;

  display: grid;
  grid-template-rows: 1fr 10fr;
  grid-template-columns: 1fr 5fr;
}

header {
  color: white;
  background-color: rebeccapurple;

  grid-column: 1 / span 2;

  display: flex;
  align-items: center;
}

button {
  cursor: pointer;
  border: none;
}

#sidebar {
  min-width: 250px;
  background-color: pink;

  grid-row: 2 / span 1;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-card {
  padding: 5px;
  color: white;
  background-color: rebeccapurple;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-card>div {
  display: flex;
  align-items: center;
}

.project-card>div>button {
  background-color: rebeccapurple;

  display: flex;
}

.project-card>div>button>img {
  height: 20px;
  width: auto;
}

#project-content {
  min-width: 600px;
  background-color: beige;

  grid-row: 2 / span 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

#task-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task-card {
  min-width: 400px;
  padding: 10px;
  background-color: pink;

  display: grid;
  grid-template-columns: 40px 5fr 2fr;
  grid-template-rows: 15px 15px;
  gap: 10px;
}

.task-checkbox {
  height: 30px;
  width: 30px;
  background-color: white;

  grid-row: 1 / span 2;

  align-self: center;
}

.task-due-date {
  grid-column: 2 / span 1;
}

.task-icon-area {
  grid-column: 3 /span 1;
  grid-row: 1 / span 2;

  display: flex;
  justify-content: end;
  gap: 10px;
}

.task-icon-area>button {
  background-color: pink;
}

.task-icon-area>button>img {
  height: 30px;
  width: auto;
}

header,
#sidebar,
#project-content {
  padding: 20px;
}

#project-list,
#task-list {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 10px;
}