* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;;

  display: grid;
  grid-template-rows: 1fr 10fr;
  grid-template-columns: 1fr 5fr;
}

header {
  color: white;
  background-color: rebeccapurple;

  display: grid;
  place-content: center;

  grid-column: 1 / span 2;
}

#sidebar {
  background-color: pink;

  grid-row: 2 / span 1;
}

#project-content {
  background-color: beige;
  
  grid-row: 2 / span 1;
}