* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;

  display: grid;
  grid-template-rows: 1fr 10fr;
  grid-template-columns: 1fr 5fr;
}

header {
  color: white;
  background-color: rebeccapurple;

  grid-column: 1 / span 2;

  display: flex;
  align-items: center;
}

#sidebar {
  background-color: pink;

  grid-row: 2 / span 1;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

#project-list,
#task-list {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

#project-content {
  background-color: beige;

  grid-row: 2 / span 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

header,
#sidebar,
#project-content {
  padding: 20px;
}